html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







body {
	background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, black, black, black, black, gray); /* For Safari 5.1 to 6.0 */
	margin: 0;
}

div {
	width: 40px;
	height: 40px;
	float:left;
	/*margin-bottom: 1px;*/
	background-color: black;
	z-index: 100;
}

h1 {
	font-size: 200px;
	font-family: Times, serif;
/*	line-height: 200px;
*/	text-align: center;
	color: white;
	z-index: 1000;
	opacity: 1;
	-webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    letter-spacing: -20px;
    position: fixed;
	/*left: 300px;
	top: 300px;*/
	text-transform: uppercase;
	width: 100%;
	margin: 300px auto;
	text-shadow: 0px -1px 4px white, 0px -2px 10px yellow, 0px -10px 20px #ff8000, 0px -18px 40px red;

}


h2 {
	font-size: 150px;
	line-height: 150px;
	font-family: Times, serif;
	line-height: 200px;
	text-align: center;
	color: transparent;
	z-index: 10;
	opacity: 0.05;
	-webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #a3a3a3;
    letter-spacing: -20px;
    position: absolute;
	left: 550px;
	top: 506px;
}


aside {
	display: none;
	font-size: 80px;
	color: transparent;
	font-family: Times, serif;
	/*font-weight: bold;*/
	font-style: italic;
	position: fixed;
	top: 140px;
	left: 0px;
	width: 1000px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	z-index: 100;
/*	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;*/
    text-shadow: 1px 1px 10px blue;
}

p {
	font-size: 2em;
	font-family: Times, serif;
	margin-right: 50px;
	line-height: 40px;
	text-align: right;
	color: transparent;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;
}

.blob {
	display: none;
	width: 50%;
	position: fixed;
	bottom: 200px;
	z-index: 1000;
}




.intro{
	font-size: 25px;
	font-family: Times, serif;
	line-height: 34px;
	text-align: left;
	width: 95%;
	margin: 0 auto;
	margin-top: 550px;
	margin-bottom: 50px;
	-webkit-text-stroke-width: 0px;
	color: black;
	background-color: white;
	border: 1px solid black;
	padding: 10px;
}

a:link {
	color: black;

}

a:visited {
	color: black;

}

a:hover {
	color: black;
}

.vk {
	text-decoration: underline;
}

.daniel{
	text-decoration: underline;
}

.vincapic {
	width: 200px;
	display: none;
	z-index: 1;
	margin-left: 50px;
	float: left;
	margin-bottom: 20px;
}

.earth {
	display: inline-block;
	width: 600px;
	z-index: 0;
	opacity: 0.7;
}

.risd {
	float: left;
	width: 400px;
	z-index: 0;
	opacity: 1;
}

.bothpic {
	width: 400px;
	display: none;
	z-index: 1;
	margin-left: 50px;
	float: left;
	margin-bottom: 20px;
}

.glow {
	box-shadow: 0px 0px 30px red;
	opacity: 0.8;
	border-radius: 10px;
}

