html, body {
	font-family: "Helvetica", sans-serif;
	font-size: 5.3vw;
	line-height: 1.1;
	word-spacing: -0.1rem;
}

body {
	padding: 0.5rem;
	-webkit-transition: all 5s ease-in;
}

a {
	color: inherit;
	text-decoration: none;
}