@import url('https://fonts.googleapis.com/css?family=Roboto');   /*font importation*/


/* ===============================================
================ STYLING FOR GENERAL WEBSITE ================
==================================================*/
html, body {
font-family: "Roboto", Helvetica, sans-serif;
}

body {
background-color: black;
}

.panel {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    
}

.panel-left {
    width: 50%;
    left: 0;
    background-color: black;
    color: white;
    margin-left: -1.5%;
    padding-right: 2%;
}

.panel-right {
    width: 50%;
    right: 0;
    color: black;
    visibility: hidden;
}

#chartContainer {
margin-left: 12%; 
margin-top: 1%;
position: absolute;
}

#number-of-strikes-heading h1 {
font-size: 50px;
text-align: center;
margin-left: 57%;
}


h3 {
margin-left: 250%; 
margin-top: -1600%;
font-size: 50px;
}

#end-divider {
height: 4px;
background-color: black;
width: 100vw; 
float: left;
margin-left: -1%;
}


/* ===============================================
================ STYLING FOR LOGO AND============= 
================ PROJECT DESCRIPTION =============
==================================================*/
#logo {
width: 55%; 
opacity: 1;
}

#logo-div {  
background-color: white;
margin-top: 1%; 
}

#logo:hover {
opacity: 0.5;      
}

#project-description  {
width: 300px; 
text-align: center;
margin-left: 65%; 
padding-top: 14%;
font-weight: bolder;
}


/* ===============================================
================ STYLING FOR INTRO================ 
===================DESCRIPTION ===================
==================================================*/
#info, #intro {   
margin-left: 5%;
margin-top: 20%;
width: 600px;
text-align: justify;
}

#info p {
font-size: 30px; 
margin-top: 30%; 
}

#intro p {
margin-left: -5%;   
font-size: 30px;
width: 610px;  
margin-top: -15%;
text-align: center;   
}

/* ===============================================
================ STYLING FOR 2011-2016 STRIKES ===
==================================================*/
#strikes {
width: 90%; 
margin-left: 7%;
margin-top: 15%;
opacity:0;
-moz-transition: opacity 2s; /* Firefox 4 */
-webkit-transition: opacity 10s; /* Safari and Chrome */
-o-transition: opacity 2s;
transition: opacity 10s;   
}

/* ===============================================
================ STYLING FOR STRIKES MAP =========
==================================================*/
#map-div {
}

#map-div {
margin-top: 40%;
margin-left: 57%; 
background-image: url('yemenmap.png');
background-repeat: no-repeat;
background-size: 20%;
}

#map-div:hover {
margin-top: 40%;
margin-left: 57%;
background-image: url('yemenmapstrikes.png');
background-repeat: no-repeat;
background-size: 20%;
}

#map-div-heading h1 {
font-family: Mohave;
font-size: 50px;
width: 230px;
float: right; 
margin-right: 15%;
margin-top: -50%;
}

/* ===============================================
================ STYLING FOR STATS NUMBERS =========
==================================================*/

#number-of-casualties {
margin-left: 67%; 
width: 300px; 
}

#number-of-casualties h1 {
font-size: 50px;
text-align: center;
margin-top: 740%;
}

#chart { 
height: 300px; 
width: 80%; 
margin-top: 10%;   
margin-left: 9%;
margin-bottom: 10%;
}


/* ===============================================
================ STYLING FOR STATS NUMBERS =========
==================================================*/

.number1 {
margin-top: -30%;
}

.number2 {
margin-top: -5%;  
}

.stats {
color: #cb3030;
float: right;
font-size:80px;
margin-right: 5%;
}


/* ===============================================
================ STYLING FOR DRONE STRIKES========
=========================BY PROVINCE==============
==================================================*/
#strikes-by-province {
width: 85%;   
margin-left: 10%;
}

#strikes-by-province-heading  {
font-size: 45px;
text-align: center;
margin-left: 16%;
width: 490px;
margin-top: 30%; 
}

/* ===============================================
================ STYLING FOR QUOTES, TITLES=======
=================CAPTIONS AND IMAGES==============
==================================================*/

#quote-1 {margin-top: 55%;}
#quote-2 {margin-top: 65%;}

#quote-1,
#quote-2 {
font-size: 36px;
width: 500px;
margin-left: 12%;
text-align: center;
  	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
}

#quote-1:hover,
#quote-2:hover {
filter: blur(0);
	-webkit-filter: blur(0);
	-moz-filter: blur(0);
	-o-filter: blur(0);
	-ms-filter: blur(0);   
}

#quote-text-1,
#quote-text-2,
#quote-text-3,
#quote-text-4 {
-webkit-animation:fade-in 10s;
text-align: center; 
font-size: 15px;
}


#quote-text-4 {
font-size: 15px;
margin-left: 33%;
margin-top: 1%;
width: 300px;
}

#quote-text-1 {
font-size: 13px;
width: 420px;
margin-left: 9%;
margin-top: -2/0%; 
}

#quote-text-2 {
font-size: 15px;
margin-left: 28%;
margin-top: 1%;
width: 350px;  
}

#quote-text-3 {
margin-left: 28%;
margin-top: 1%;
width: 350px; 
}

#quote-image-1, 
#quote-image-2, 
#quote-image-3, 
#quote-image-4 {
filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);     
    
}
#quote-image-1 {
    width: 70%;
    margin-left: 15%;
    margin-top: 30%;
	
}

#quote-image-2 {
    width: 70%;
margin-left: 19%;
    margin-top: 35%;  
}

#quote-image-3 {
width: 70%;
margin-left: 19%;
margin-top: 35%;       
}

#quote-image-4 {
    width: 70%;
    margin-top: 30%;
    margin-left: 25%;   
}


a {
text-decoration: none;
color: black;
font-weight: bolder;   
}

#quote-pic {
width: 30%;
margin-left: 15%;
}

#quote-vid {
margin-top: 120%;    
margin-left: 16%;
}

@-webkit-keyframes fade-in{
from{
    opacity:0;
    top:0px;
}
to {
    opacity:1;
    top:0px;
    }
}

figcaption {
color: black;
font-size: 15px;
-webkit-animation:fade-in 10s;
margin-left: 28%;
margin-top: 1%;
width: 300px;
text-align: center;
}

#div-image-14 {
margin-left: -20%;
margin-top: 10%;
}

.description {
    margin-top: 40%; 
text-align: center;    
font-size: 30px;
    margin-left: 5%;
    width: 600px;
}

.two, .three {
margin-top: 20%;
margin-bottom: -5%;
}

.two {
margin-bottom: -5%; 
}
.three {
margin-bottom: -9%;
}
.psych {
padding-top: 62%;
}

.once {
padding-top: 10%;    
}

#plus, #minus {
width: 10%;
margin-left: 45%;
margin-top: 10%;
}


#drone-static {  
float: left;
margin-top: -640%;
margin-left: 140%;
width: 70%;
filter: blur(5px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
}

#drone-static:hover {  
float: left;
margin-top: -640%;
margin-left: 140%;
width: 70%;
filter: blur(0);
	-webkit-filter: blur(0);
	-moz-filter: blur(0);
	-o-filter: blur(0);
	-ms-filter: blur(0);
}

.however {
margin-top: -5%;
}

#drone-flicker {
width: 30%;
margin-left: 40%;
margin-top: 25%;
}

#people-flicker {
width: 90%;
margin-left: 5%;
margin-top: 18%;
}
.four {
margin-top: 25%;
}

#strikes-gif {
margin-left: 18%; 
margin-top: 15%;
width: 70%;
}

#strikes-stats {
color: black;
font-size: 20px;
width: 500px;
margin-left: 10%;
margin-top: -1%;
text-align: center;
}

#strikes-by-year-heading  {
font-size: 45px;
text-align: center;
margin-left: 16%;
width: 490px;
margin-top: 30%; 
}


#casualties-heading  {
font-size: 45px;
text-align: center;
margin-left: 16%;
width: 490px;
margin-top: 30%; 
}

/* ==============================================
================TEXT ANIMATIONS===================
=================================================
=================================================*/
.animated:hover {filter: blur(0);}

.animated {
  margin-left: 5%;
  width: 600px;
  margin-top: 20%;
  animation-duration: 10s;
  color: #cb3030;
  font-size: 50px;
  text-align: center;
  	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  font-size: 50px;
}





    