body,
h4,
h5 {
    font-family: monospace;
    font-weight: lighter;
    text-align: center;
    font-size: 30px;
}

.cold {
    margin-left: -400px;
    margin-top: 190px;
}

.and {
    margin-left: -715px;
    margin-top: 265px;
}

.backward-link:hover {
    color: transparent;
}

.forward-link:hover {
    color: black;
    font-weight: bold;
}

.after {
    margin-left: -83px;
    margin-top: 118px;
}

.spring {
    margin-top: 205px;
    margin-left: -375px;
}

.time-of-joy {
    margin-left: -3px;
    margin-top: 18px;
}

.for-satori {
    margin-left: -340px;
    margin-top: 19px;
}

.somber-girl {
    margin-left: -375px;
    margin-top: 5px;
}

.rendezvous {
    margin-left: -470px;
    margin-top: -30px;
}

a {
    color: black;
    text-decoration: none;
}


/*REMOVE IF OVER 1KB*/


.top,
.bottom,
.left,
.right {
    background: black;
    position: fixed;
}

.left,
.right {
    top: 0;
    bottom: 0;
    width: 25px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.top,
.bottom {
    left: 0;
    right: 0;
    height: 25px;
}
.top {
    top: 0;
}

.bottom {
    bottom: 0;
}