h1, h3, ul, h4 {
font-family: monospace;
list-style: none;
}

.info {
color: lightgrey;
}

.triangle {
color: lightgrey;
position: fixed;
margin-top: 10%
}

a, li {
color: black;
text-decoration: none;
list-style: none;
}


h4 {
color: lightgrey;
}

.scale h1:hover {
font-size: 75px; 
color: maroon; 
text-decoration: underline;
}

.scale:hover {
font-size: 75px; 
color: maroon; 
text-decoration: underline;
}

.image:hover {
opacity: 0;
-webkit-transition: opacity 1s ease-in-out;
}

.paragraphs {
    width: 750px;
    font-family: monospace;
    font-size: 17px
}

.paragraphs-2 {
    width: 750px;
    font-family: monospace;
    font-size: 13px;
    color: lightgrey;         
}

.image {
    margin-left: 8%;
    margin-top: %;
    width: 40%; 
    height: 40%;
}

.title h3 {
    color: lightgrey;
}
