html {
	background-color:black;
	image-rendering: crisp-edges;

}


div.cover{
 	position: fixed;
 	top: 10px;
 	left: 10px;
 	bottom: 10px;
 	background-color: orange;
 	right: 82%;
}

.inlineSVGs{
	height: 50%;
}

.playback {
	height: 50%;
	text-align: center;
	width: 100%;
	padding-top: 20px;
	box-sizing: border-box;
}

div.tracks {
	position: fixed;
	top: 10px;
	left:18%;
	width:81%;
	bottom: 10px;
	z-index: -1;
	overflow:hidden;

}



div.svg-holder{
 	-webkit-transition:1s;
	transition:1s;
}

div.ultra {
	width:7.93%; 
	height:100%;
	float:left;
	margin-left: 1%;
}

div.fsmh1 {
	width:2.77%; 
	height:100%;
	float:left;
	margin-left: 1%;
}

div.fsmh2 {
	width:2.6%; 
	height:100%;
	float:left;
	margin-left: 1%;
}

div.famous {
	width:4.41%; 
	height:100%;
	float:left;
	margin-left: 1%;
}

div.feedback {
	width:3.33%; 
	height:100%;
	float:left;
	margin-left: 1%;
}

div.low {
	width:2.66%; 
	height:100%;
	float:left;
	margin-left: 1%;
}

div.high {
	width:4.55%; 
	height:100%;
	float:left;
	margin-left: 1%;
}

div.free {
	width:2.4%; 
	height:100%;
	float:left;
	margin-left: 1%;
}

div.love {
	width:.23%; 
	height:100%;
	float:left;
	margin-left: 1%;
}

div.waves {
	width:4.05%; 
	height:100%;
	float:left;
	margin-left: 1%;
}

div.fml {
	width:5.59%; 
	height:100%;
	float:left;
	margin-left: 1%;
}

div.friends {
	width:6.01%; 
	height:100%;
	float:left;
	margin-left: 1%;
}

div.wolves {
	width:7.04%; 
	height:100%;
	float:left;
	margin-left: 1%;
}

div.frank {
	width:.25%; 
	height:100%;
	float:left;
	margin-left: 1%;
}

div.silver {
	width:.36%; 
	height:100%;
	float:left;
	margin-left: 1%;
}

div.hours {
	width:8.07%; 
	height:100%;
	float:left;
	margin-left: 1%;
}

div.nomore {
	width:9.44%; 
	height:100%;
	float:left;
	margin-left: 1%;
}

div.facts {
	width:4.55%; 
	height:100%;
	float:left;
	margin-left: 1%;
}

div.fade {
	width:4.39%; 
	height:100%;
	float:left;
	margin-left: 1%;
}



.is-playing {

}


/*----svg------*/

svg {
	
	float:left;
	background-size: 100%;
	fill:white;
	width:100%;


}

svg#kanye {
	stroke:white;
	stroke-width:1.5px;
	fill:orange;
	margin:5%;
	width:40%;
}

svg#pablo {
	margin:5%;
	width:40%;
	/*fill:white;*/
}


div:active {
	fill:black;
	/*stroke:orange;*/
}

svg:hover {
	fill:black;
	stroke:white;
	}

svg:active{
	fill:black;
	stroke:orange;
}

/*.is-hovered svg {
	
}

.is-active svg {

	width:50%;

}*/

/*div:hover {
	fill:black;
	stroke:white;
}*/





svg {
	height: 100%;
}

div.is-clicked{
	width:;
	fill:orange;
	-webkit-transition:1s;
	transition:1s;

}

div.is-clicked svg{ 
	fill:orange;
	-webkit-transition:1s;
	transition:1s;

}

div.not-clicked{
	width:;
	-webkit-transition:1s;
	transition:1s;
}

svg#is-clicked2{
	width:;
	fill:orange;
	-webkit-transition:1s;
	transition:1s;

}

svg#not-clicked2{
	width:;
	-webkit-transition:1s;
	transition:1s;
}

svg#is-clicked18{
	width:;
	fill:orange;
	-webkit-transition:1s;
	transition:1s;

}

svg#not-clicked18{
	width:;
	-webkit-transition:1s;
	transition:1s;
}

img.version{
	 display: block;
	 padding: 3%;
	 margin: auto;
	 height:30%;
	 width:70%;
	 box-sizing: border-box;
}

object.play{
	display:block;
	margin-left:35%;
	margin-top:2%;
	width:35%;
	height:50%;
	box-sizing: border-box;
	fill:white;
}

object.play:hover{
	fill:black;
	opacity: .5%;
}

audio {
	display:none;
}



div.expand {
	float:left;
	margin-left: 1%;
/*	pointer-events:none;*/
}






/*div.is-playing {
}*/

/*
.01ultra {
	width:7.91%;
	height:100%;
}

.02fsmh1 {
	float:left;
	fill:white;
	margin-left:1%;
}

.03fsmh2 {
	float:left;
	background-size: 100%;
	fill:white;
	margin-left:1%;
}

.04famous {
	float:left;
	background-size: 100%;
	fill:white;
	margin-left:1%;
}

.05feedback {
	float:left;
	background-size: 100%;
	fill:white;
	margin-left:1%;
}

.06low {
	float:left;
	background-size: 100%;
	fill:white;
	margin-left:1%;
}

.07high {
	float:left;
	background-size: 100%;
	fill:white;
	margin-left:1%;
}

.08freestyle {
	float:left;
	background-size: 100%;
	fill:white;
	margin-left:1%;
}

.09ilove {
	float:left;
	background-size: 100%;
	fill:white;
	margin-left:1%;
}

.10waves {
	float:left;
	background-size: 100%;
	fill:white;
	margin-left:1%;
}

.11fml {
	float:left;
	background-size: 100%;
	fill:white;
	margin-left:1%;
}

.12friends {
	float:left;
	background-size: 100%;
	fill:white;
	margin-left:1%;
}

.13wolves {
	float:left;
	background-size: 100%;
	fill:white;
	margin-left:1%;
}

.14frank {
	float:left;
	background-size: 100%;
	fill:white;
	margin-left:1%;
}

.15silver {
	float:left;
	background-size: 100%;
	fill:white;
	margin-left:1%;
}

.1630hours {
	float:left;
	background-size: 100%;
	fill:white;
	margin-left:1%;
}

.17nomore {
	float:left;
	background-size: 100%;
	fill:white;
	margin-left:1%;
}

.18facts {
	float:left;
	background-size: 100%;
	fill:white;
	margin-left:1%;
}

.19fade {
	float:left;
	background-size: 100%;
	fill:white;
	margin-left:1%;
}
*/

/*
HTML

<svg data-percentage="">

*/



/*body {



}



div .track1 {
	width:1.48%;
	height: 100vh;
	float: left;
	
	
}

.track2 {
	width:7.87%;
	float: left;
	
 


}

.track3 {
	width:7.67%;
	float: left;
	height: 100vh;
 

}

.track4 {
	width:9.68%;
	float: left;
	height: 100vh;
 

}

.track5 {
	width:5.83%;
	float: left;
	height: 100vh;
 
 
}

.track6 {
	width:11.8%;
	float: left;
	height: 100vh;
 

}

.track7 {
	width:4.25%;
	float: left;
	height: 100vh;
 

}

.track8 {
	width:12.4%;
	float: left;
	height: 100vh;
 }
  

.track9 {
	width:9.25%;
	float: left;
	height: 100vh;
 
 
}

.track10 {
	width:5.86%;
	float: left;
	height: 100vh;
 
}


.track11 {
	width:10.7%;
	float: left;
	height: 100vh;
 

}

.track12 {
	width:3.36%;
	float: left;
	height: 100vh;
 
  
}

.track13 {
	width:9.81%;
	float: left;
	height: 100vh;
 
 
}*/