
.shape {
	position: absolute;
	top: 200px;
}

.is-down {
	top: 20px;
}

.one {
	left: 260px;
	top: 228px;
	height:130px;
	width: 130px;
	background-color: red;
	border-radius: 50%;
}

.two {
	left: 630px;
	top: 228px;
	height:130px;
	width: 130px;
	background-color: red;
	border-radius:50%;}

.three {
	left: 1000px;
	top: 228px;
	height:130px;
	width: 130px;
	background-color: red;
	border-radius:50%;}
